<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.hcode.hoj.dao.JudgeMapper">
    <select id="getCommonJudgeList" resultType="top.hcode.hoj.pojo.vo.JudgeVo" useCache="false">
        select j.uid,j.submit_id,j.submit_time,j.uid,j.username,j.uid,j.pid,j.status,j.share,
        j.time,j.memory,j.length,j.language,j.cid,j.cpid,j.ip,j.judger
        from judge j
        <where>
            <if test="cid!=null">
                j.cid = #{cid}
                <if test="pid!=null">
                    AND j.cpid = #{pid}
                </if>
            </if>
            <if test="cid==null">
                AND j.cid = 0 AND j.cpid = 0
            </if>
            <if test="pid!=null and cid == null">
                AND j.pid = #{pid}
            </if>
            <if test="username!='' and username!=null">
                AND j.username like concat('%',#{username},'%')
            </if>
            <if test="status!=null">
                AND (j.status = #{status}
                    <if test="status==1">
                    OR j.status = 2
                    </if>
                )
            </if>
            <if test="uid!=null and uid!=''">
                AND j.uid = #{uid}
            </if>
        </where>
        order by j.submit_time DESC,j.submit_id DESC
    </select>

    <select id="getTodayJudgeNum" resultType="int">
        SELECT count(*) FROM judge WHERE DATE(gmt_create) = CURDATE();
    </select>
</mapper>
