<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.hcode.hoj.dao.ProblemMapper">

    <resultMap id="map_ProblemList" type="top.hcode.hoj.pojo.vo.ProblemVo">
        <id column="pid" property="pid"></id>
        <result column="problem_id" property="problemId"></result>
        <result column="title" property="title"></result>
        <result column="difficulty" property="difficulty"></result>
        <result column="type" property="type"></result>
        <result column="total" property="total"></result>
        <result column="ac" property="ac"></result>
        <result column="mle" property="mle"></result>
        <result column="tle" property="tle"></result>
        <result column="re" property="re"></result>
        <result column="pe" property="pe"></result>
        <result column="ce" property="ce"></result>
        <result column="wa" property="wa"></result>
        <result column="se" property="se"></result>
        <result column="pa" property="pa"></result>
        <collection property="tags" ofType="top.hcode.hoj.pojo.entity.problem.Tag" select="getProblemTag" column="pid">
        </collection>
    </resultMap>

    <!-- 主查询 -->
    <select id="getProblemList" resultMap="map_ProblemList">
        SELECT DISTINCT p.id AS pid, p.problem_id, p.title, p.difficulty, p.type
        , COALESCE(j.pe, 0) AS pe
        , COALESCE(j.ce, 0) AS ce
        , COALESCE(j.wa, 0) AS wa
        , COALESCE(j.ac, 0) AS ac
        , COALESCE(j.tle, 0) AS tle
        , COALESCE(j.mle, 0) AS mle
        , COALESCE(j.re, 0) AS re
        , COALESCE(j.se, 0) AS se
        , COALESCE(j.pa, 0) AS pa
        , COALESCE(j.total, 0) AS total
        FROM problem p
        LEFT JOIN (
        SELECT j.pid AS pid
        , COUNT(IF(j.status = -3, STATUS, NULL)) AS pe
        , COUNT(IF(j.status = -2, STATUS, NULL)) AS ce
        , COUNT(IF(j.status = -1, STATUS, NULL)) AS wa
        , COUNT(IF(j.status = 0, STATUS, NULL)) AS ac
        , COUNT(IF(j.status = 1, STATUS, NULL)) AS tle
        , COUNT(IF(j.status = 2, STATUS, NULL)) AS mle
        , COUNT(IF(j.status = 3, STATUS, NULL)) AS re
        , COUNT(IF(j.status = 4, STATUS, NULL)) AS se
        , COUNT(IF(j.status = 8, STATUS, NULL)) AS pa
        , COUNT(*) AS total
        FROM judge j
        WHERE j.cid=0
        GROUP BY j.pid
        ) j
        ON j.pid = p.id
        LEFT JOIN problem_tag pt ON p.id = pt.pid
        <where>
            p.auth = 1
            <if test="keyword != null and keyword != ''">
                and (
                p.title like concat('%',#{keyword},'%') or p.problem_id like concat('%',#{keyword},'%')
                <if test="pid != null and pid != ''">
                    or p.id = #{pid}
                </if>
                )
            </if>
            <if test="difficulty != null">
                and p.difficulty = #{difficulty}
            </if>
            <if test="tid != null">
                and pt.tid = #{tid}
            </if>
            <if test="oj != null and oj !='Mine'">
                and p.problem_id like concat(#{oj},'%') and p.is_remote=true
            </if>
            <if test="oj != null and oj =='Mine'">
                and p.is_remote=false
            </if>
        </where>
        order by length(p.problem_id) asc,p.problem_id asc
    </select>

    <!-- 子查询 :为了防止分页总数据数出错-->
    <select id="getProblemTag" resultType="top.hcode.hoj.pojo.entity.problem.Tag">
        select t.* from tag t,problem_tag pt where t.id = pt.tid and pt.pid = #{pid}
    </select>


</mapper>
