<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.hcode.hoj.mapper.AdminSysNoticeMapper">

    <resultMap id="map_AdminSysNoticeList" type="top.hcode.hoj.pojo.vo.AdminSysNoticeVO">
        <id column="id" property="id"></id>
        <result column="title" property="title"></result>
        <result column="content" property="content"></result>
        <result column="type" property="type"></result>
        <result column="state" property="state"></result>
        <result column="username" property="adminUsername"></result>
        <result column="gmt_create" property="gmtCreate"></result>
        <result column="gmt_modified" property="gmtModified"></result>
    </resultMap>

    <select id="getAdminSysNotice" resultMap="map_AdminSysNoticeList">
        select
        a.id as id,
        a.title as title,
        a.content as content,
        a.type as type,
        a.state as state,
        a.gmt_create as gmt_create,
        a.gmt_modified as gmt_modified,
        u.username as username
        from admin_sys_notice a, user_info u
        <where>
            a.admin_id = u.uuid
            <if test="type!=null">
                and a.type = #{type}
            </if>
        </where>
        order by a.state asc, a.gmt_create desc
    </select>

</mapper>