<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.hcode.hoj.mapper.AnnouncementMapper">

    <select id="getAnnouncementList" resultMap="map_AnnouncementVo" useCache="true">
        SELECT a.*,u.username FROM user_info u,announcement a  where a.uid = u.uuid
        and (SELECT COUNT(*) FROM contest_announcement ca WHERE ca.aid=a.id) = 0 and a.gid is null
        <if test="notAdmin">
            and a.status = 0
        </if>
        order by a.gmt_create desc
    </select>

    <select id="getContestAnnouncement"  resultMap="map_AnnouncementVo">
        SELECT a.*,u.username FROM user_info u,announcement a,contest_announcement ca
        where a.uid = u.uuid and ca.cid =#{cid} and ca.aid = a.id
        <if test="notAdmin">
            and a.status = 0
        </if>
        order by a.gmt_create desc
    </select>

    <resultMap id="map_AnnouncementVo" type="top.hcode.hoj.pojo.vo.AnnouncementVO">
        <id column="id" property="id"></id>
        <result column="title" property="title"></result>
        <result column="content" property="content"></result>
        <result column="uid" property="uid"></result>
        <result column="username" property="username"></result>
        <result column="status" property="status"></result>
        <result column="gmt_create" property="gmtCreate"></result>
        <result column="gmt_modified" property="gmtModified"></result>
    </resultMap>



</mapper>
