<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.hcode.hoj.mapper.CommentMapper">

    <resultMap id="map_CommentList" type="top.hcode.hoj.pojo.vo.CommentVO">
        <id column="id" property="id"></id>
        <result column="content" property="content"></result>
        <result column="from_uid" property="fromUid"></result>
        <result column="from_name" property="fromName"></result>
        <result column="from_avatar" property="fromAvatar"></result>
        <result column="from_role" property="fromRole"></result>
        <result column="title_name" property="fromTitleName"></result>
        <result column="title_color" property="fromTitleColor"></result>
        <result column="like_num" property="likeNum"></result>
        <result column="total_reply_num" property="totalReplyNum"></result>
        <result column="gmt_create" property="gmtCreate"></result>
        <collection property="replyList" ofType="top.hcode.hoj.pojo.vo.ReplyVO" select="getCommentListReply" column="id">
        </collection>
    </resultMap>


    <!-- 主查询  -->
    <select id="getCommentList" resultMap="map_CommentList" resultType="list">
        SELECT c.*,(SELECT COUNT(1) FROM reply WHERE comment_id=c.id and status=0) as total_reply_num,
        u.title_name,u.title_color
        FROM comment c,user_info u
        <where>
                c.status=0 AND u.uuid = c.from_uid
            <if test="cid!=null">
                AND c.cid=#{cid}
            </if>
            <if test="did!=null">
                AND c.did=#{did}
            </if>

            <if test="onlyMineAndAdmin">
                AND c.from_uid in
                <foreach item="uid" collection="myAndAdminUidList" separator="," open="(" close=")" index="">
                    #{uid}
                </foreach>
            </if>

        </where>
        order by c.like_num desc,c.gmt_create desc
    </select>

    <!-- 子查询 -->
    <select id="getCommentListReply" resultType="top.hcode.hoj.pojo.vo.ReplyVO">
        select r.*,u.title_name as from_title_name,u.title_color as from_title_color from reply r,user_info u
        where
        r.comment_id=#{id} and r.status=0 and r.from_uid = u.uuid
        order by r.gmt_create desc LIMIT 3
    </select>
</mapper>
