<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.hcode.hoj.mapper.ContestMapper">
    <select id="getContestList" resultType="top.hcode.hoj.pojo.vo.ContestVO" useCache="true">
        select c.id,c.author,c.title,c.description,c.type,c.status,c.source,c.auth,c.start_time,
        c.end_time,c.duration,c.open_rank,c.oi_rank_score_type,c.gid,c.allow_end_submit
        from contest c
        <where>
            c.visible = true and c.is_group = false
            <if test="keyword!=null and keyword!=''">
                and c.title like concat('%',#{keyword},'%')
            </if>
            <if test="status!=null">
                and c.status = #{status}
            </if>
            <if test="type!=null">
                and c.type = #{type}
            </if>
        </where>
        order by c.status ASC, c.start_time DESC
    </select>

    <select id="getContestRegisterCount" resultType="top.hcode.hoj.pojo.vo.ContestRegisterCountVO">
        SELECT cr.cid as cid,COUNT(*) as count FROM contest_register cr,contest c
        <where>
            cr.cid = c.id
            AND c.id in
            <foreach collection="cidList" item="cid" open="(" separator="," close=")">
                #{cid}
            </foreach>
        </where>
        GROUP BY cr.cid
    </select>

    <select id="getContestInfoById" resultType="top.hcode.hoj.pojo.vo.ContestVO" useCache="true">
        select c.id,c.author,c.open_print,c.title,c.type,c.status,c.description,c.seal_rank,
        c.seal_rank_time,c.source,c.auth,c.start_time,c.end_time,c.duration,c.rank_show_name,
        c.open_rank,c.oi_rank_score_type,c.gid, c.allow_end_submit
        from contest c where c.id = #{cid} and c.visible=true
    </select>

    <select id="getWithinNext14DaysContests" resultType="top.hcode.hoj.pojo.vo.ContestVO">
        SELECT c.id,c.author,c.title,c.type,c.source,c.auth,c.status,c.start_time,c.end_time,c.duration,c.oi_rank_score_type,c.gid
        FROM contest c WHERE DATE_ADD(CURDATE(), INTERVAL 14 DAY) >= DATE(start_time) AND c.status != 1 AND c.visible=true AND c.is_group = false
        order by c.start_time DESC
    </select>
</mapper>
