<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.hcode.hoj.mapper.DiscussionMapper">

    <resultMap id="map_DiscussionVo" type="top.hcode.hoj.pojo.vo.DiscussionVO">
        <id column="id" property="id"></id>
        <result column="content" property="content"></result>
        <result column="description" property="description"></result>
        <result column="title" property="title"></result>
        <result column="category_id" property="categoryId"></result>
        <result column="category_name" property="categoryName"></result>
        <result column="pid" property="pid"></result>
        <result column="uid" property="uid"></result>
        <result column="author" property="author"></result>
        <result column="avatar" property="avatar"></result>
        <result column="title_name" property="titleName"></result>
        <result column="title_color" property="titleColor"></result>
        <result column="role" property="role"></result>
        <result column="view_num" property="viewNum"></result>
        <result column="like_num" property="likeNum"></result>
        <result column="has_like" property="hasLike"></result>
        <result column="top_priority" property="topPriority"></result>
        <result column="gid" property="gid"></result>
        <result column="status" property="status"></result>
        <result column="gmt_modified" property="gmtModified"></result>
        <result column="gmt_create" property="gmtCreate"></result>
    </resultMap>


    <!-- 主查询  -->
    <select id="getDiscussion" resultMap="map_DiscussionVo" resultType="top.hcode.hoj.pojo.vo.DiscussionVO">
        SELECT d.*,c.id as category_id,c.name as category_name,u.title_name,u.title_color,
        (SELECT 1 FROM discussion_like dl WHERE dl.uid = #{uid} AND dl.did = #{did} LIMIT 1) as has_like
        FROM discussion d,category c,user_info u
        <where>
            c.id = d.category_id and d.uid = u.uuid
            <if test="did!=null">
                and d.id=#{did}
            </if>
        </where>
    </select>

</mapper>
