<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.hcode.hoj.mapper.GroupProblemMapper">

    <resultMap id="map_ProblemList" type="top.hcode.hoj.pojo.vo.ProblemVO">
        <id column="pid" property="pid"></id>
        <result column="problem_id" property="problemId"></result>
        <result column="title" property="title"></result>
        <result column="difficulty" property="difficulty"></result>
        <result column="type" property="type"></result>
        <result column="total" property="total"></result>
        <result column="ac" property="ac"></result>
        <collection property="tags" ofType="top.hcode.hoj.pojo.entity.problem.Tag" select="getProblemTag" column="pid">
        </collection>
    </resultMap>

    <select id="getProblemList" resultMap="map_ProblemList">
        SELECT DISTINCT p.id AS pid, p.problem_id, p.title, p.difficulty, p.type,
        (SELECT COUNT(*)
            FROM judge j
            WHERE j.cid = 0 AND j.pid = p.id AND j.status = 0 AND j.gid = #{gid}
        ) as ac,
        (SELECT COUNT(*)
            FROM judge j
            WHERE j.cid = 0 AND j.pid = p.id AND j.gid = #{gid}
        ) as total
        FROM problem p
        WHERE p.auth = 1 AND p.gid = #{gid}
        ORDER BY LENGTH(p.problem_id) ASC, p.problem_id ASC
    </select>

    <select id="getProblemTag" resultType="top.hcode.hoj.pojo.entity.problem.Tag">
        select t.* from tag t,problem_tag pt where t.id = pt.tid and pt.pid = #{pid}
    </select>

    <select id="getAdminProblemList" resultType="top.hcode.hoj.pojo.entity.problem.Problem">
        SELECT p.id,p.problem_id,p.title,p.author,p.gmt_create,p.modified_user,p.auth,p.apply_public_progress,p.gid
        FROM problem p
        WHERE p.gid = #{gid}
        ORDER BY p.id DESC
    </select>
</mapper>
