<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.hcode.hoj.mapper.MsgRemindMapper">

    <select id="getUserUnreadMsgCount" resultType="top.hcode.hoj.pojo.vo.UserUnreadMsgCountVO" useCache="true">
        SELECT
          (SELECT COUNT(1) FROM msg_remind WHERE recipient_id=#{uid} AND state=0 AND `action`='Discuss') AS 'comment',
          (SELECT COUNT(1) FROM msg_remind WHERE recipient_id=#{uid} AND state=0 AND `action`='Reply') AS 'reply',
          (SELECT COUNT(1) FROM msg_remind WHERE recipient_id=#{uid} AND state=0 AND `action` LIKE 'Like%') AS 'like',
          (SELECT COUNT(1) FROM user_sys_notice WHERE recipient_id=#{uid} AND state=0 AND `type`='Sys') AS 'sys',
          (SELECT COUNT(1) FROM user_sys_notice WHERE recipient_id=#{uid} AND state=0 AND `type`='Mine') AS 'mine'
    </select>


    <resultMap id="map_UserMsgList" type="top.hcode.hoj.pojo.vo.UserMsgVO">
        <id column="id" property="id"></id>
        <result column="sender_id" property="senderId"></result>
        <result column="action" property="action"></result>
        <result column="source_type" property="sourceType"></result>
        <result column="source_id" property="sourceId"></result>
        <result column="source_content" property="sourceContent"></result>
        <result column="quote_id" property="quoteId"></result>
        <result column="quote_type" property="quoteType"></result>
        <result column="url" property="url"></result>
        <result column="state" property="state"></result>
        <result column="gmt_create" property="gmtCreate"></result>
        <result column="username" property="senderUsername"></result>
        <result column="avatar" property="senderAvatar"></result>
    </resultMap>

    <select id="getUserMsg" resultMap="map_UserMsgList">
        select
        m.id as id,
        m.sender_id as sender_id,
        m.action as 'action',
        m.source_id as source_id,
        m.source_type as source_type,
        m.source_content as source_content,
        m.quote_id as quote_id,
        m.quote_type as quote_type,
        m.url as url,
        m.state as state,
        m.gmt_create as gmt_create,
        u.username as username,
        u.avatar as avatar
        from msg_remind m,user_info u
        <where>
            m.sender_id = u.uuid
            and m.recipient_id = #{uid}
            <choose>
                <when test="action == 'Like'">
                    and (m.action = 'Like_Post' OR m.action = 'Like_Discuss')
                </when>
                <otherwise>
                    and m.action = #{action}
                </otherwise>
            </choose>
        </where>
        order by m.state asc, m.gmt_create desc
    </select>

</mapper>