/* Fira Code */
@font-face {
  font-family: 'Fira Code', UbuntuMono, 'PingFang SC', 'Microsoft YaHei',
    Helvetica, Arial, Menlo, Monaco, monospace, sans-serif;
  font-style: normal;
  src: local('Fira Code'), url('maize/FiraCode-Regular.ttf') format('ttf');
}

/* 全局属性 */
:root {
  --select-text-bg-color: #e49123;
  --bg-color: #fafafa; /*change background*/
  --text-color: #333333; /*change text color*/
  --md-char-color: #c7c5c5; /*change color of meta characetrs like `*` in markdown */
  --meta-content-color: #5b808d; /*change color of meta contents like image text or link address in markdown */

  --primary-color: #428bca; /* color of primary buttons */
  --primary-btn-border-color: #285e8e;
  --primary-btn-text-color: #fff;

  --window-border: 1px solid #eee; /*border for sidebar, etc*/

  --active-file-bg-color: #eee; /*background color if list item in file tree or file list*/
  --active-file-text-color: inherit;
  --active-file-border-color: #777;

  --side-bar-bg-color: var(--bg-color); /*change background of sidebar*/
  --item-hover-bg-color: rgba(
    229,
    229,
    229,
    0.59
  ); /*background of control items when hover, like menu in sidebar*/
  --item-hover-text-color: inherit;
  --monospace: monospace; /*monospace font for codes, fences*/
}
::selection {
  background: rgba(33, 150, 243, 0.2);
}
::-moz-selection {
  background: rgba(33, 150, 243, 0.2);
}
::-webkit-selection {
  background: rgba(33, 150, 243, 0.2);
}

.maize-markdown-body {
  font-size: 16px;
  text-align: left;
  letter-spacing: 0px;
  font-family: 'Fira Code', '微软雅黑', 'PingFang SC', 'Microsoft YaHei',
    sans-serif;
}

/*段落*/
.maize-markdown-body p {
  font-size: 16px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;
  line-height: 26px;
  color: black;
}

/*  todo item 对齐 */
.maize-markdown-body input[type='checkbox'] {
  margin-top: calc(1em - 2px);
  margin-right: 5px;
  left: -3px;
}

/*标题*/
.maize-markdown-body h1,
.maize-markdown-body h2,
.maize-markdown-body h3,
.maize-markdown-body h4,
.maize-markdown-body h5,
.maize-markdown-body h6 {
  margin: 0.72em 0;
  padding: 0px;
  font-weight: bold;
  color: black;
}
.maize-markdown-body h1 {
  margin: 1.2em 0;
  font-size: 2rem;
  /* text-align: center; */
}
.maize-markdown-body h2::before {
  content: '✔';
  font-weight: bold;
  color: #409eff;
  margin-right: 4px;
}
.maize-markdown-body h2 {
  font-size: 1.7rem;
  margin: 1em 0;
}
.maize-markdown-body h2 span {
  font-weight: bold;
  color: #333;
  padding: 3px 10px 1px;
}

.maize-markdown-body h3 {
  font-size: 1.5rem;
}
.maize-markdown-body h4 {
  font-size: 1.25rem;
}
.maize-markdown-body h5 {
  font-size: 1rem;
}
.maize-markdown-body h6 {
  font-size: 1rem;
}

/* 列表 */
.maize-markdown-body ul,
.maize-markdown-body ol {
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 40px;
  color: black;
}
.maize-markdown-body ul {
  list-style-type: disc;
}
.maize-markdown-body ul ul {
  list-style-type: square;
}
.maize-markdown-body ol {
  list-style-type: decimal;
}
/* 列表内容 */
.maize-markdown-body li section {
  font-size: 15px;
}

/* 字体加粗 */
.maize-markdown-body strong::before {
  content: '「';
}

.maize-markdown-body strong {
  color: #2196f3;
  font-weight: bold;
}

.maize-markdown-body strong::after {
  content: '」';
}

/*引用*/
.maize-markdown-body blockquote {
  margin-bottom: 16px;
  margin-top: 16px;
  padding: 10px 10px 10px 20px;
  font-size: 0.9em;
  background: #e8f4fd;
  border-left: 3px solid #2196f3;
  color: #6a737d;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.maize-markdown-body blockquote p {
  line-height: 26px;
}

/* 超链接 */
.maize-markdown-body a {
  text-decoration: none;
  font-weight: bold;
  color: #2196f3;
  border-bottom: 1px solid #2196f3;
}
.maize-markdown-body a:hover {
  color: #ff5722 !important;
}

/* 分割线 */
.maize-markdown-body hr {
  height: 1px;
  padding: 0;
  border: none;
  text-align: center;
  background-image: linear-gradient(
    to right,
    rgba(231, 93, 109, 0.3),
    rgba(255, 159, 150, 0.75),
    rgba(255, 216, 181, 0.3)
  );
}

/* 行内代码 */
.maize-markdown-body p code,
.maize-markdown-body span code,
.maize-markdown-body li code {
  word-wrap: break-word;
  padding: 2px 4px;
  border-radius: 4px;
  margin: 0 2px;
  word-break: break-all;
}

/* 文章插图 */
.maize-markdown-body img {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0px 4px 12px #84a1a8;
  border: 0px;
}

.maize-markdown-body table tr {
  border: 0;
  border-top: 1px solid #ccc;
  background-color: white;
}
.maize-markdown-body table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
.maize-markdown-body table tr th,
.maize-markdown-body table tr td {
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid #ccc;
  padding: 5px 10px;
  text-align: left;
}
.maize-markdown-body table tr th {
  font-weight: bold;
  background-color: #f0f0f0;
}

/* 上角标 */
.maize-markdown-body .md-footnote {
  font-weight: bold;
  color: #e49123;
}
.maize-markdown-body .md-footnote > .md-text:before {
  content: '[';
}
.maize-markdown-body .md-footnote > .md-text:after {
  content: ']';
}

/* 下角标 */
.maize-markdown-body .md-def-name {
  padding-right: 1.8ch;
}
.maize-markdown-body .md-def-name:before {
  content: '[';
  color: #000;
}
.maize-markdown-body .md-def-name:after {
  color: #000;
}

/* 代码块主题 */
code,
.md-fences {
  padding: 0.5em;
  /* border: 1px solid #ccc; */
  padding: 0.1em;
  border-radius: 5px;
  margin-left: 0.2em;
  margin-right: 0.2em;
  font-family: 'Fira Code', '微软雅黑', 'PingFang SC', 'Microsoft YaHei',
    sans-serif;
}
.md-fences {
  margin: 0 0 20px;
  background-color: #292b35;
  color: rgb(236, 236, 236);
  /* font-size: 1em; */
  padding: 0.3em 1em;
  padding-top: 0.4em;
  box-shadow: 0px 4px 9px grey;
}
.CodeMirror div.CodeMirror-cursor {
  margin-left: 4.6px;
  border-left: 1px solid #7ba0f0;
  z-index: 5;
}
.cm-s-inner div.CodeMirror-selected {
  background: rgba(113, 124, 180, 0.2);
}
.CodeMirror-code {
  margin-left: 5px;
}
.cm-s-inner .cm-keyword {
  color: #c792ea;
  font-weight: 450;
}
.cm-s-inner .cm-operator {
  color: #89ddff;
}
.cm-s-inner .cm-variable-2 {
  color: #eeffff;
}
.cm-s-inner .cm-variable-3,
.cm-s-inner .cm-type {
  color: #f07178;
}
.cm-s-inner .cm-builtin {
  color: #ffcb6b;
}
.cm-s-inner .cm-atom {
  color: #f78c6c;
}
.cm-s-inner .cm-number {
  color: #ff5370;
}
.cm-s-inner .cm-def {
  color: #82aaff;
}
.cm-s-inner .cm-string {
  color: #c3e88d;
}
.cm-s-inner .cm-string-2 {
  color: #f07178;
}
.cm-s-inner .cm-comment {
  color: #676e95;
}
.cm-s-inner .cm-variable {
  color: #f07178;
}
.cm-s-inner .cm-tag {
  color: #ff5370;
}
.cm-s-inner .cm-meta {
  color: #ffcb6b;
}
.cm-s-inner .cm-attribute {
  color: #c792ea;
}
.cm-s-inner .cm-property {
  color: #c792ea;
}
.cm-s-inner .cm-qualifier {
  color: #decb6b;
}
.cm-s-inner .cm-variable-3,
.cm-s-inner .cm-type {
  color: #decb6b;
}
.cm-s-inner .cm-error {
  color: rgba(255, 255, 255, 1);
  background-color: #e9405c;
}

/*流程图样式*/
pre[lang='sequence'],
pre[lang='flow'],
pre[lang='mermaid'] {
  background: #ffffff;
  color: #333333;
}
